
<div class="container register-form">
   <div class="form">
      <div class="note">
         <p>Đăng nhập</p>
      </div>

      <form class="form-content" method="post" action="http://localhost:3000/login">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="" />
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <input type="text" id="password" name="password" class="form-control" placeholder="Password" value="" />
               </div>
            </div>
         </div>
         <button type="submit" id="btn-login" class="btnSubmit">Đăng nhập</button>
         <a href="/register">Đăng ký</a> 
      </form>
   </div>
</div>