<div class="container register-form">
   <div class="form">
      <div class="note">
         <p>Đăng ký</p>
      </div>

      <form class="form-content" method="post" action="http://localhost:3000/register">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <input type="text" id="em" name="email" class="form-control" placeholder="Username" value="" />
               </div>
               <div class="form-group">
                  <input type="text" id="pw" name="password" class="form-control" placeholder="Password" value="" />
               </div>
            </div>
            <div class="col-md-6">
               {{!-- <div class="form-group">
                  <input type="text" id="n" name="n" class="form-control" placeholder="Họ và tên" value="" />
               </div> --}}

               
            </div>
         </div>
         <button type="submit" id="btn-register" class="btnSubmit">Đăng ký</button>
      </form>
   </div>
</div>
